USE [master]
GO
/****** Object:  Database [DELIVERYDB]    Script Date: 4/6/2024 11:25:40 PM ******/
CREATE DATABASE [DELIVERYDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DELIVERYDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DELIVERYDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DELIVERYDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DELIVERYDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DELIVERYDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DELIVERYDB]
GO
/****** Object:  Schema [Deliveries]    Script Date: 4/6/2024 11:25:40 PM ******/
CREATE SCHEMA [Deliveries]
GO
/****** Object:  Schema [Lookup]    Script Date: 4/6/2024 11:25:40 PM ******/
CREATE SCHEMA [Lookup]
GO
/****** Object:  Schema [Person]    Script Date: 4/6/2024 11:25:40 PM ******/
CREATE SCHEMA [Person]
GO
/****** Object:  Schema [Schedule]    Script Date: 4/6/2024 11:25:40 PM ******/
CREATE SCHEMA [Schedule]
GO
/****** Object:  Table [Deliveries].[TBL_DELIVERY_ADDRESS]    Script Date: 4/6/2024 11:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Deliveries].[TBL_DELIVERY_ADDRESS](
	[DELIVERYADDRESS_ID] [int] IDENTITY(1,1) NOT NULL,
	[DELIVERY_DETAILS_ID] [int] NOT NULL,
	[CITY_ID] [smallint] NOT NULL,
	[STREET] [nvarchar](150) NULL,
	[ROAD] [nvarchar](150) NULL,
	[ZIP] [nvarchar](10) NULL,
	[ADDRESS] [nvarchar](500) NULL,
	[ADDRESSTYPE_ID] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[DELIVERYADDRESS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Deliveries].[TBL_DELIVERY_DETAILS]    Script Date: 4/6/2024 11:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Deliveries].[TBL_DELIVERY_DETAILS](
	[DELIVERY_DETAILS_ID] [int] IDENTITY(1,1) NOT NULL,
	[ORDER_ID] [int] NOT NULL,
	[DELIVERY_DATE] [datetime] NULL,
	[DELIVERY_STATUS] [smallint] NULL,
	[CONFIRMATION] [bit] NOT NULL,
	[CONFIRMATION_DATE] [datetime] NULL,
	[CONFIRMATION_NOTE] [nvarchar](500) NULL,
 CONSTRAINT [PK__TBL_DELI__2F3D974290EE1CF0] PRIMARY KEY CLUSTERED 
(
	[DELIVERY_DETAILS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Deliveries].[TBL_DELIVERY_LOGS]    Script Date: 4/6/2024 11:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Deliveries].[TBL_DELIVERY_LOGS](
	[LOG_ID] [int] IDENTITY(1,1) NOT NULL,
	[DELIVERY_DETAILS_ID] [int] NOT NULL,
	[ACTIVITY_DATE] [datetime] NOT NULL,
	[ACTIVITY_DESCRIPTION] [nvarchar](500) NULL,
	[ACTIVITY_TYPE_ID] [smallint] NULL,
 CONSTRAINT [PK__TBL_DELI__4364C8824EFEBDA9] PRIMARY KEY CLUSTERED 
(
	[LOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Deliveries].[TBL_ITEMS]    Script Date: 4/6/2024 11:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Deliveries].[TBL_ITEMS](
	[ITEMS_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[PRICE] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ITEMS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Deliveries].[TBL_ORDER_ITEMS]    Script Date: 4/6/2024 11:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Deliveries].[TBL_ORDER_ITEMS](
	[ORDER_ITEMS_ID] [int] IDENTITY(1,1) NOT NULL,
	[ORDER_ID] [int] NOT NULL,
	[ITEM_ID] [int] NOT NULL,
	[QUANTITY] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDER_ITEMS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Deliveries].[TBL_ORDERS]    Script Date: 4/6/2024 11:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Deliveries].[TBL_ORDERS](
	[ORDER_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[TOTAL] [decimal](10, 2) NOT NULL,
	[ORDERSTATUS_ID] [smallint] NULL,
 CONSTRAINT [PK__TBL_ORDE__460A9464729C9ED6] PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Lookup].[TBL_ACTIVITY_TYPE]    Script Date: 4/6/2024 11:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lookup].[TBL_ACTIVITY_TYPE](
	[ACTIVITY_TYPE_ID] [smallint] NOT NULL,
	[ACTIVITY_TYPE_NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__TBL_ACTI__757B7810864BBBDC] PRIMARY KEY CLUSTERED 
(
	[ACTIVITY_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Lookup].[TBL_ADDRESS_TYPE]    Script Date: 4/6/2024 11:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lookup].[TBL_ADDRESS_TYPE](
	[ADDRESSTYPE_ID] [smallint] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__TBL_ADDR__C80A7579AF90BB2D] PRIMARY KEY CLUSTERED 
(
	[ADDRESSTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Lookup].[TBL_DELIVERY_STATUS]    Script Date: 4/6/2024 11:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lookup].[TBL_DELIVERY_STATUS](
	[DELIVERYSTATUS_ID] [smallint] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__TBL_ORDE__7A9CE64ABC13E114] PRIMARY KEY CLUSTERED 
(
	[DELIVERYSTATUS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Lookup].[TBL_PERIODS]    Script Date: 4/6/2024 11:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lookup].[TBL_PERIODS](
	[PERIOD_ID] [smallint] NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[DESCRIPTION] [nvarchar](250) NULL,
	[OCCURANCE_PERMONTH] [smallint] NULL,
 CONSTRAINT [PK_TBL_PERIOD_LKPT] PRIMARY KEY CLUSTERED 
(
	[PERIOD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Lookup].[TBL_SCHEDULE_STATUS]    Script Date: 4/6/2024 11:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lookup].[TBL_SCHEDULE_STATUS](
	[SCHEDULESTATUS_ID] [smallint] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__TBL_SCHE__107F9A30181A77EF] PRIMARY KEY CLUSTERED 
(
	[SCHEDULESTATUS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Lookup].[TBL_USER_TYPE]    Script Date: 4/6/2024 11:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lookup].[TBL_USER_TYPE](
	[USERTYPE_ID] [smallint] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TBL_USER_TYPE__C80] PRIMARY KEY CLUSTERED 
(
	[USERTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Person].[TBL_ROLES]    Script Date: 4/6/2024 11:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Person].[TBL_ROLES](
	[ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[NORMALIZEDNAME] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Person].[TBL_USERS]    Script Date: 4/6/2024 11:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Person].[TBL_USERS](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASSWORDHASH] [nvarchar](300) NOT NULL,
	[EMAIL] [nvarchar](100) NULL,
	[PHONE] [nvarchar](15) NULL,
	[USERTYPE_ID] [smallint] NULL,
	[NORMALIZEDUSERNAME] [nvarchar](100) NULL,
	[NORMALIZEDEMAIL] [nvarchar](100) NULL,
	[EMAILCONFIRMED] [bit] NULL,
	[PHONENUMBER] [nvarchar](15) NULL,
	[PHONENUMBERCONFIRMED] [bit] NULL,
	[TWOFACTORENABLED] [bit] NULL,
 CONSTRAINT [PK__TBL_USER__75BD933E2296FBDB] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Person].[TBL_USERS_ADDRESS]    Script Date: 4/6/2024 11:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Person].[TBL_USERS_ADDRESS](
	[ADDRESS_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[CITY_ID] [smallint] NOT NULL,
	[STREET] [nvarchar](150) NULL,
	[ROAD] [nvarchar](150) NULL,
	[ZIP] [nvarchar](10) NULL,
	[ADDRESS] [nvarchar](500) NULL,
	[ADDRESSTYPE_ID] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ADDRESS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Person].[TBL_USERSROLE]    Script Date: 4/6/2024 11:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Person].[TBL_USERSROLE](
	[USER_ID] [int] NOT NULL,
	[ROLE_ID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Schedule].[TBL_SCHEDULER]    Script Date: 4/6/2024 11:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Schedule].[TBL_SCHEDULER](
	[SCHEDULER_ID] [int] IDENTITY(1,1) NOT NULL,
	[TO_DATE] [datetime] NOT NULL,
	[FROM_DATE] [datetime] NOT NULL,
	[DELIVERY_SLOT] [nvarchar](50) NOT NULL,
	[ASSIGNED_TO] [int] NULL,
	[NOTE] [nvarchar](500) NULL,
	[PERIOD_ID] [smallint] NULL,
	[SCHEDULESTATUS_ID] [smallint] NULL,
 CONSTRAINT [PK__TBL_SCHE__9FCA8FDFAE0E1E5D] PRIMARY KEY CLUSTERED 
(
	[SCHEDULER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Deliveries].[TBL_DELIVERY_DETAILS] ON 

INSERT [Deliveries].[TBL_DELIVERY_DETAILS] ([DELIVERY_DETAILS_ID], [ORDER_ID], [DELIVERY_DATE], [DELIVERY_STATUS], [CONFIRMATION], [CONFIRMATION_DATE], [CONFIRMATION_NOTE]) VALUES (1, 11, CAST(N'2024-03-16T14:50:14.670' AS DateTime), 1, 0, NULL, NULL)
INSERT [Deliveries].[TBL_DELIVERY_DETAILS] ([DELIVERY_DETAILS_ID], [ORDER_ID], [DELIVERY_DATE], [DELIVERY_STATUS], [CONFIRMATION], [CONFIRMATION_DATE], [CONFIRMATION_NOTE]) VALUES (2, 11, CAST(N'2024-04-16T14:50:14.670' AS DateTime), 1, 0, NULL, NULL)
INSERT [Deliveries].[TBL_DELIVERY_DETAILS] ([DELIVERY_DETAILS_ID], [ORDER_ID], [DELIVERY_DATE], [DELIVERY_STATUS], [CONFIRMATION], [CONFIRMATION_DATE], [CONFIRMATION_NOTE]) VALUES (3, 11, CAST(N'2024-05-16T14:50:14.670' AS DateTime), 1, 0, NULL, NULL)
SET IDENTITY_INSERT [Deliveries].[TBL_DELIVERY_DETAILS] OFF
GO
SET IDENTITY_INSERT [Deliveries].[TBL_DELIVERY_LOGS] ON 

INSERT [Deliveries].[TBL_DELIVERY_LOGS] ([LOG_ID], [DELIVERY_DETAILS_ID], [ACTIVITY_DATE], [ACTIVITY_DESCRIPTION], [ACTIVITY_TYPE_ID]) VALUES (3, 1, CAST(N'2024-03-17T00:09:35.387' AS DateTime), N'New subscription', 1)
INSERT [Deliveries].[TBL_DELIVERY_LOGS] ([LOG_ID], [DELIVERY_DETAILS_ID], [ACTIVITY_DATE], [ACTIVITY_DESCRIPTION], [ACTIVITY_TYPE_ID]) VALUES (4, 2, CAST(N'2024-03-17T00:09:35.387' AS DateTime), N'New subscription', 1)
INSERT [Deliveries].[TBL_DELIVERY_LOGS] ([LOG_ID], [DELIVERY_DETAILS_ID], [ACTIVITY_DATE], [ACTIVITY_DESCRIPTION], [ACTIVITY_TYPE_ID]) VALUES (5, 3, CAST(N'2024-03-17T00:09:35.387' AS DateTime), N'New subscription', 1)
SET IDENTITY_INSERT [Deliveries].[TBL_DELIVERY_LOGS] OFF
GO
SET IDENTITY_INSERT [Deliveries].[TBL_ITEMS] ON 

INSERT [Deliveries].[TBL_ITEMS] ([ITEMS_ID], [NAME], [DESCRIPTION], [PRICE]) VALUES (2, N'Beef with Beetroot', N'Beef with Beetroot', CAST(25.00 AS Decimal(10, 2)))
INSERT [Deliveries].[TBL_ITEMS] ([ITEMS_ID], [NAME], [DESCRIPTION], [PRICE]) VALUES (3, N'Chicket with Banana', N'Chicket with Banana', CAST(20.00 AS Decimal(10, 2)))
INSERT [Deliveries].[TBL_ITEMS] ([ITEMS_ID], [NAME], [DESCRIPTION], [PRICE]) VALUES (4, N'Lamb with Apple', N'Lamb with Apple', CAST(32.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [Deliveries].[TBL_ITEMS] OFF
GO
SET IDENTITY_INSERT [Deliveries].[TBL_ORDER_ITEMS] ON 

INSERT [Deliveries].[TBL_ORDER_ITEMS] ([ORDER_ITEMS_ID], [ORDER_ID], [ITEM_ID], [QUANTITY]) VALUES (2, 7, 2, 2)
INSERT [Deliveries].[TBL_ORDER_ITEMS] ([ORDER_ITEMS_ID], [ORDER_ID], [ITEM_ID], [QUANTITY]) VALUES (3, 8, 2, 2)
INSERT [Deliveries].[TBL_ORDER_ITEMS] ([ORDER_ITEMS_ID], [ORDER_ID], [ITEM_ID], [QUANTITY]) VALUES (4, 9, 2, 2)
SET IDENTITY_INSERT [Deliveries].[TBL_ORDER_ITEMS] OFF
GO
SET IDENTITY_INSERT [Deliveries].[TBL_ORDERS] ON 

INSERT [Deliveries].[TBL_ORDERS] ([ORDER_ID], [USER_ID], [TOTAL], [ORDERSTATUS_ID]) VALUES (6, 6, CAST(0.00 AS Decimal(10, 2)), 1)
INSERT [Deliveries].[TBL_ORDERS] ([ORDER_ID], [USER_ID], [TOTAL], [ORDERSTATUS_ID]) VALUES (7, 6, CAST(0.00 AS Decimal(10, 2)), 1)
INSERT [Deliveries].[TBL_ORDERS] ([ORDER_ID], [USER_ID], [TOTAL], [ORDERSTATUS_ID]) VALUES (8, 6, CAST(0.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [Deliveries].[TBL_ORDERS] OFF
GO
INSERT [Lookup].[TBL_ACTIVITY_TYPE] ([ACTIVITY_TYPE_ID], [ACTIVITY_TYPE_NAME]) VALUES (1, N'Adding')
INSERT [Lookup].[TBL_ACTIVITY_TYPE] ([ACTIVITY_TYPE_ID], [ACTIVITY_TYPE_NAME]) VALUES (2, N'Updating')
INSERT [Lookup].[TBL_ACTIVITY_TYPE] ([ACTIVITY_TYPE_ID], [ACTIVITY_TYPE_NAME]) VALUES (3, N'Deleting')
GO
INSERT [Lookup].[TBL_ADDRESS_TYPE] ([ADDRESSTYPE_ID], [NAME]) VALUES (1, N'Home Address')
INSERT [Lookup].[TBL_ADDRESS_TYPE] ([ADDRESSTYPE_ID], [NAME]) VALUES (2, N'Office Address')
GO
INSERT [Lookup].[TBL_DELIVERY_STATUS] ([DELIVERYSTATUS_ID], [NAME]) VALUES (1, N'Upcoming')
INSERT [Lookup].[TBL_DELIVERY_STATUS] ([DELIVERYSTATUS_ID], [NAME]) VALUES (2, N'Delivered')
INSERT [Lookup].[TBL_DELIVERY_STATUS] ([DELIVERYSTATUS_ID], [NAME]) VALUES (3, N'InProcess')
GO
INSERT [Lookup].[TBL_PERIODS] ([PERIOD_ID], [NAME], [DESCRIPTION], [OCCURANCE_PERMONTH]) VALUES (1, N'Monthly', N'Each Month', 1)
INSERT [Lookup].[TBL_PERIODS] ([PERIOD_ID], [NAME], [DESCRIPTION], [OCCURANCE_PERMONTH]) VALUES (2, N'Bi Monthly', N'Twice a Month', 2)
INSERT [Lookup].[TBL_PERIODS] ([PERIOD_ID], [NAME], [DESCRIPTION], [OCCURANCE_PERMONTH]) VALUES (3, N'Weekly', N'Each Week', 4)
GO
INSERT [Lookup].[TBL_USER_TYPE] ([USERTYPE_ID], [NAME]) VALUES (1, N'Subscriber')
INSERT [Lookup].[TBL_USER_TYPE] ([USERTYPE_ID], [NAME]) VALUES (2, N'Courier')
GO
SET IDENTITY_INSERT [Person].[TBL_USERS] ON 

INSERT [Person].[TBL_USERS] ([USER_ID], [USERNAME], [PASSWORDHASH], [EMAIL], [PHONE], [USERTYPE_ID], [NORMALIZEDUSERNAME], [NORMALIZEDEMAIL], [EMAILCONFIRMED], [PHONENUMBER], [PHONENUMBERCONFIRMED], [TWOFACTORENABLED]) VALUES (3, N'Amir Al Farooq', N'NONE', N'alfaroo@yahoo.com', NULL, 2, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [Person].[TBL_USERS] ([USER_ID], [USERNAME], [PASSWORDHASH], [EMAIL], [PHONE], [USERTYPE_ID], [NORMALIZEDUSERNAME], [NORMALIZEDEMAIL], [EMAILCONFIRMED], [PHONENUMBER], [PHONENUMBERCONFIRMED], [TWOFACTORENABLED]) VALUES (4, N'Abbas Haider', N'None', N'Abbas@haider.com', NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [Person].[TBL_USERS] ([USER_ID], [USERNAME], [PASSWORDHASH], [EMAIL], [PHONE], [USERTYPE_ID], [NORMALIZEDUSERNAME], [NORMALIZEDEMAIL], [EMAILCONFIRMED], [PHONENUMBER], [PHONENUMBERCONFIRMED], [TWOFACTORENABLED]) VALUES (6, N'waqarhabib', N'AQAAAAIAAYagAAAAEFkyzqXQq/6NvklRl/Ij+1f8uRhEotZJktJOaObGfydOHCOsOm5ubWXi5mH0xoAJfQ==', N'waqarhabibmit@yahoo.com', NULL, 1, N'WAQARHABIB', N'WAQARHABIBMIT@YAHOO.COM', 0, NULL, 0, 0)
SET IDENTITY_INSERT [Person].[TBL_USERS] OFF
GO
SET IDENTITY_INSERT [Schedule].[TBL_SCHEDULER] ON 

INSERT [Schedule].[TBL_SCHEDULER] ([SCHEDULER_ID], [TO_DATE], [FROM_DATE], [DELIVERY_SLOT], [ASSIGNED_TO], [NOTE], [PERIOD_ID], [SCHEDULESTATUS_ID]) VALUES (17, CAST(N'2024-06-16T14:50:14.670' AS DateTime), CAST(N'2024-03-16T14:50:14.670' AS DateTime), N'string', 3, N'string', 1, NULL)
INSERT [Schedule].[TBL_SCHEDULER] ([SCHEDULER_ID], [TO_DATE], [FROM_DATE], [DELIVERY_SLOT], [ASSIGNED_TO], [NOTE], [PERIOD_ID], [SCHEDULESTATUS_ID]) VALUES (23, CAST(N'2024-09-16T14:50:14.670' AS DateTime), CAST(N'2024-03-16T14:50:14.670' AS DateTime), N'string', 3, N'string', 1, NULL)
SET IDENTITY_INSERT [Schedule].[TBL_SCHEDULER] OFF
GO
/****** Object:  Index [IDX_TBL_DELIVERY_DETAILS_ORDER_ID]    Script Date: 4/6/2024 11:25:41 PM ******/
CREATE NONCLUSTERED INDEX [IDX_TBL_DELIVERY_DETAILS_ORDER_ID] ON [Deliveries].[TBL_DELIVERY_DETAILS]
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_TBL_DELIVERY_LOGS_DELIVERY_DETAILS_ID]    Script Date: 4/6/2024 11:25:41 PM ******/
CREATE NONCLUSTERED INDEX [IDX_TBL_DELIVERY_LOGS_DELIVERY_DETAILS_ID] ON [Deliveries].[TBL_DELIVERY_LOGS]
(
	[DELIVERY_DETAILS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_TBL_ORDER_ITEMS_ORDER_ID]    Script Date: 4/6/2024 11:25:41 PM ******/
CREATE NONCLUSTERED INDEX [IDX_TBL_ORDER_ITEMS_ORDER_ID] ON [Deliveries].[TBL_ORDER_ITEMS]
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Deliveries].[TBL_DELIVERY_DETAILS] ADD  CONSTRAINT [DF__TBL_DELIV__CONFI__3B75D760]  DEFAULT ((0)) FOR [CONFIRMATION]
GO
ALTER TABLE [Deliveries].[TBL_DELIVERY_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_DELIVERYADDRESS_TBL_ADDRESSTYPE] FOREIGN KEY([ADDRESSTYPE_ID])
REFERENCES [Lookup].[TBL_ADDRESS_TYPE] ([ADDRESSTYPE_ID])
GO
ALTER TABLE [Deliveries].[TBL_DELIVERY_ADDRESS] CHECK CONSTRAINT [FK_TBL_DELIVERYADDRESS_TBL_ADDRESSTYPE]
GO
ALTER TABLE [Deliveries].[TBL_DELIVERY_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_DELIVERYADDRESS_TBL_DELIVERY_DETAILS] FOREIGN KEY([DELIVERY_DETAILS_ID])
REFERENCES [Deliveries].[TBL_DELIVERY_DETAILS] ([DELIVERY_DETAILS_ID])
GO
ALTER TABLE [Deliveries].[TBL_DELIVERY_ADDRESS] CHECK CONSTRAINT [FK_TBL_DELIVERYADDRESS_TBL_DELIVERY_DETAILS]
GO
ALTER TABLE [Deliveries].[TBL_DELIVERY_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK__TBL_DELIV__ORDER__3C69FB99] FOREIGN KEY([ORDER_ID])
REFERENCES [Deliveries].[TBL_ORDERS] ([ORDER_ID])
GO
ALTER TABLE [Deliveries].[TBL_DELIVERY_DETAILS] CHECK CONSTRAINT [FK__TBL_DELIV__ORDER__3C69FB99]
GO
ALTER TABLE [Deliveries].[TBL_DELIVERY_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_DELIVERY_DETAILS_TBL_DELIVERY_STATUS] FOREIGN KEY([DELIVERY_STATUS])
REFERENCES [Lookup].[TBL_DELIVERY_STATUS] ([DELIVERYSTATUS_ID])
GO
ALTER TABLE [Deliveries].[TBL_DELIVERY_DETAILS] CHECK CONSTRAINT [FK_TBL_DELIVERY_DETAILS_TBL_DELIVERY_STATUS]
GO
ALTER TABLE [Deliveries].[TBL_DELIVERY_LOGS]  WITH CHECK ADD  CONSTRAINT [FK__TBL_DELIV__DELIV__3D5E1FD2] FOREIGN KEY([DELIVERY_DETAILS_ID])
REFERENCES [Deliveries].[TBL_DELIVERY_DETAILS] ([DELIVERY_DETAILS_ID])
GO
ALTER TABLE [Deliveries].[TBL_DELIVERY_LOGS] CHECK CONSTRAINT [FK__TBL_DELIV__DELIV__3D5E1FD2]
GO
ALTER TABLE [Deliveries].[TBL_DELIVERY_LOGS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_DELIVERY_LOGS_ACTIVITY_TYPE] FOREIGN KEY([ACTIVITY_TYPE_ID])
REFERENCES [Lookup].[TBL_ACTIVITY_TYPE] ([ACTIVITY_TYPE_ID])
GO
ALTER TABLE [Deliveries].[TBL_DELIVERY_LOGS] CHECK CONSTRAINT [FK_TBL_DELIVERY_LOGS_ACTIVITY_TYPE]
GO
ALTER TABLE [Deliveries].[TBL_ORDER_ITEMS]  WITH CHECK ADD FOREIGN KEY([ITEM_ID])
REFERENCES [Deliveries].[TBL_ITEMS] ([ITEMS_ID])
GO
ALTER TABLE [Deliveries].[TBL_ORDER_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK__TBL_ORDER__ORDER__403A8C7D] FOREIGN KEY([ORDER_ID])
REFERENCES [Deliveries].[TBL_ORDERS] ([ORDER_ID])
GO
ALTER TABLE [Deliveries].[TBL_ORDER_ITEMS] CHECK CONSTRAINT [FK__TBL_ORDER__ORDER__403A8C7D]
GO
ALTER TABLE [Deliveries].[TBL_ORDERS]  WITH CHECK ADD  CONSTRAINT [FK__TBL_ORDER__USER___412EB0B6] FOREIGN KEY([USER_ID])
REFERENCES [Person].[TBL_USERS] ([USER_ID])
GO
ALTER TABLE [Deliveries].[TBL_ORDERS] CHECK CONSTRAINT [FK__TBL_ORDER__USER___412EB0B6]
GO
ALTER TABLE [Person].[TBL_USERS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_USERS_TBL_USER_TYPE] FOREIGN KEY([USERTYPE_ID])
REFERENCES [Lookup].[TBL_USER_TYPE] ([USERTYPE_ID])
GO
ALTER TABLE [Person].[TBL_USERS] CHECK CONSTRAINT [FK_TBL_USERS_TBL_USER_TYPE]
GO
ALTER TABLE [Person].[TBL_USERS_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_ADDRESS_TBL_ADDRESSTYPE] FOREIGN KEY([ADDRESSTYPE_ID])
REFERENCES [Lookup].[TBL_ADDRESS_TYPE] ([ADDRESSTYPE_ID])
GO
ALTER TABLE [Person].[TBL_USERS_ADDRESS] CHECK CONSTRAINT [FK_TBL_ADDRESS_TBL_ADDRESSTYPE]
GO
ALTER TABLE [Person].[TBL_USERS_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_ADDRESS_TBL_USERS] FOREIGN KEY([USER_ID])
REFERENCES [Person].[TBL_USERS] ([USER_ID])
GO
ALTER TABLE [Person].[TBL_USERS_ADDRESS] CHECK CONSTRAINT [FK_TBL_ADDRESS_TBL_USERS]
GO
ALTER TABLE [Person].[TBL_USERSROLE]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Role_RoleId] FOREIGN KEY([USER_ID])
REFERENCES [Person].[TBL_ROLES] ([ROLE_ID])
ON DELETE CASCADE
GO
ALTER TABLE [Person].[TBL_USERSROLE] CHECK CONSTRAINT [FK_UserRole_Role_RoleId]
GO
ALTER TABLE [Person].[TBL_USERSROLE]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_User_UserId] FOREIGN KEY([USER_ID])
REFERENCES [Person].[TBL_USERS] ([USER_ID])
ON DELETE CASCADE
GO
ALTER TABLE [Person].[TBL_USERSROLE] CHECK CONSTRAINT [FK_UserRole_User_UserId]
GO
ALTER TABLE [Schedule].[TBL_SCHEDULER]  WITH CHECK ADD  CONSTRAINT [FK__TBL_SCHED__ASSIG__35BCFE0A] FOREIGN KEY([ASSIGNED_TO])
REFERENCES [Person].[TBL_USERS] ([USER_ID])
GO
ALTER TABLE [Schedule].[TBL_SCHEDULER] CHECK CONSTRAINT [FK__TBL_SCHED__ASSIG__35BCFE0A]
GO
ALTER TABLE [Schedule].[TBL_SCHEDULER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_SCHEDULER_TBL_PERIODS] FOREIGN KEY([PERIOD_ID])
REFERENCES [Lookup].[TBL_PERIODS] ([PERIOD_ID])
GO
ALTER TABLE [Schedule].[TBL_SCHEDULER] CHECK CONSTRAINT [FK_TBL_SCHEDULER_TBL_PERIODS]
GO
ALTER TABLE [Schedule].[TBL_SCHEDULER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_SCHEDULER_TBL_SCHEDULESTATUS] FOREIGN KEY([SCHEDULESTATUS_ID])
REFERENCES [Lookup].[TBL_SCHEDULE_STATUS] ([SCHEDULESTATUS_ID])
GO
ALTER TABLE [Schedule].[TBL_SCHEDULER] CHECK CONSTRAINT [FK_TBL_SCHEDULER_TBL_SCHEDULESTATUS]
GO
USE [master]
GO
